<div class='row'>
  <h2><%= @expansion.set_name %></h2>
  <p>This set contains  of <%=@expansion.set_size%></p>
  <p><%= link_to 'Update', edit_expansion_path(@expansion) %> this set here.</p>
  <div class='small-3 columns'
    <ul>
      <% @cards.each do |card| %>
        <li>
          <%= link_to card.name, expansion_card_path(@expansion, card) %>  <%= card.mana_cost %><br>
          <%= card.main_type %> 
          <% unless card.sub_type.empty? %>
            <%= card.sub_type %><br>
          <%-end-%>
          <%= card.rules_text %><br>
          <% if card.sub_type %>
            <%= card.power %>/<%= card.toughness %>
          <%-end-%>
        </li>
        <%-end-%>
    </ul>
  </div>
</div>