<div class='row'>
  <h2><%= @card.name %></h2>
  <p><%= link_to 'Update', edit_expansion_card_path(@card.expansion_id, @card), class: 'button radius' %>

  <p>Mana Cost: <%= @card.mana_cost %></p>
  <p><%= image_tag(@card.image) %></p>
  <p><%= @card.main_type %> <%= @card.sub_type unless @card.sub_type.empty? %></p>
  <p><%= @card.rules_text %></p>
  <p><%= @card.flavor_text %></p>
  <% if @card.main_type.include?("Creature") %>
  <p><%= @card.power %>/<%= @card.toughness %></p>
  <%-end-%>
  <p><%= @card.extra_rules %></p>
</div>
